<div class="container">
  <div class="signup-login text-center">
    <h1>#100DaysOfCode</h1>
    <a><%= link_to 'ログイン', login_path %></a>
    <a ><%= link_to '新規登録', new_user_path %></a>
  </div>
  <div class="discription">
    <h2>#100DaysOfCode</h2>
    <p>#100DaysOfCodeとは</p>
    <p>現在エンジニアとして活動している方や</p>
    <p>これからエンジニアを目指そうとしている方の</p>
    <p>100日間の勉強記録を手助けするアプリです。</p>
  </div>
</div>