<div class="wrapper">
  <div class="container">
    <h1 class="my-5 w-25 mx-auto text-center border-bottom">新規投稿</h1>
    <% if @post.errors.any? %>
      <div class="text-danger  w-50 mx-auto">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render partial: 'post_form' %>
  </div>
  <%= render partial: 'home/footer' %>
</div>
