html, body {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  min-height: 83vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.image {
  position: relative;
  
  img {
    height: 100vh;
    width: 100%;
  }
  
   .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }
}

.text {
  line-height: 2;
}


footer{
  width: 100%;
  padding: 20px 0;
  
  position: absolute;
  bottom: 0;
}